/* Put your css in here */

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family:Franklin Gothic Medium, Verdana, Arial, Tahoma, Serif;

	}

html{
	color: #666;
	font-family: Merienda;
	scroll-behavior: smooth;
}

ul, nav {
	list-style: none;

}

a{
	text-decoration: none;
	opacity: 0.75;
	color:#fff;
}

a:hover{
	opacity: 1;
}

a.btn{
	border-radius: 5px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	background-color: #f8c300;
	opacity: 1;

}

section{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 100px 80px;

}

.work-area, .contact{
	background-color:#ddd; 
}

.content-area {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

section h3.header-text{
	text-transform: uppercase;
	font-family: Baloo;
	margin-bottom: 5px;
	text-align: center;
	font-size: 45px;
}

section p{
	max-width: 700px;
	line-height: 2;
	padding: 0 20px;
	margin-bottom: 30px;
	text-align: center;

}

@media (max-width: 800px){
	section{
		padding: 50px 20px;
	}
}

header {
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 35px 100px 0;
	animation: 1s animate 0.5s forwards;
	opacity: 0;
	color: #fff;
	z-index: 10;
}

@keyframes animate {
	100%{
		opacity: 1;
	}
}

header h2{
	font-family: Baloo;

}

header nav{
	font-size: 35px;

	display: flex;
	margin-right: -15px;
}

header nav li{
	margin:0 15px;
}

@media (max-width: 800px){
	header{
		padding: 20px 50px;
		flex-direction: column;
	}
	header h2{
		margin-bottom: 15px

	}
	header nav li{
		margin:0 7px;

	}
	
}


.banner-area{
		position: relative;
		justify-content: center;
		text-align: center;
		min-height: 100vh;
		color: #fff;
	}

	.banner-area .img-area{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		-webkit-background-size:cover;
		background-size: cover;
		z-index: -1;
		background-image: linear-gradient(to left, rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(group.jpg);
		background-position: center center;
	}

.banner-area h1{
	padding:300px;
	margin-bottom: 45px;
	font-size: 60px;
}

.banner-text {
	opacity: 0;
	margin-top: 100px;
	animation: 1s anime-two 1s forwards;

}

@keyframes anime-two{
	100%{
		opacity: 1;
		margin: 0;
	}

}

@media (max-width: 800px){
	.banner-area{
		min-height: 600px;
	}

	.banner-area h1{
		font-size: 28px;
	}
}


.services-area .content-area .single-service{
	height: 300px;
	padding: 20px;
	flex-basis: 30%;
	text-align: center;
}

.services-area p{
	font-size: 25px;
}
.single-service h2{
	margin-bottom: 15px;
}
.icon-area{
	width: 80px;
	height: 80px;
	display: inline-block;
	background: #262626;
	border-radius: 50%;
	margin-bottom: 20px;

}

.icon-area i{
	color: #fff;
	padding: 25px;
	font-size: 30px;

}


@media (max-width: 1000px){
	.services-area .content-area .single-service{
		flex-basis: 30%;
	}

}

@media (max-width: 800px){
	.services-area .content-area .single-service{
		flex-basis: 100%;
	}
	.single-service{
		margin-bottom: 30px;
	}

}

.work-area .content-area li{
	padding: 5px;
	flex-basis: 50%;
	text-align: center;
}

.work-area img{
	width: 100%;
}

@media (max-width: 800px){
	.work-area .content-area li{
		flex-basis: 100%;
		padding: 20px;
	}
}

.contact .content-area .single-contact{
	height: 30px;
	flex-basis: 50%;
	text-align: center;

}

.single-contact i{
	font-size: 33px;
}

@media (max-width: 800px){
	.contact .content-area .single-contact{
		flex-basis: 100%;
		margin-bottom: 20px;
	}
}

.orderA{

	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
	color: black;
	padding: 20px 0;

}

.orderA p{
	text-transform: uppercase;
	font-size: 14px;
	opacity: 0.8;
	align-self: center;
}

footer{
	display: flex;
	align-items: center;
	justify-content: space-around;
	background:#262626;
	color: #ffffff;
	padding: 20px 0;

	}

footer p{
	text-transform: uppercase;
	font-size: 14px;
	opacity: 0.8;
	align-self: center;
}

.container__header{
    width:100%;
    height:50px;
    display:flex;
    flex-direction:row;
    justify-contact:space-between;
}
.container__row{
    width:100%;
       height:50px;
       display:flex;
       flex-direction:row;
       justify-contact:space-between;
       background-color:#fefefe;
}

